@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', 'open sans';
}

header{
    background-color: #191D2B;
    color: #27AE60;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    padding-top: 5px;
}

span{
    color: white;
}

li{
    display: inline-block;
    padding: 0 20px;
}

a{
    color: white;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: #27AE60;
}

.hero{
    height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #191D2B;
    color: white;
}

.hero h1{
    font-size: 50px;
    padding-bottom: 15px;
}

.hero p{
    font-size: larger;
    padding-bottom: 20px;
}

button{
    background-color: transparent;
    border: solid 2px #27AE60;
    border-radius: 15px;
    color: #27AE60;
    font-weight: bold;
    height: 35px;
    width: 120px;
    margin-right: 15px;
}

button:hover{
    background-color: #27AE60;
    color: white;

}

img{
    width: 500px;
    border: solid 3px #27AE60;
    border-radius: 500px;
    transition: 0.5s;
}

img:hover{
    border: solid 3px #27AE60;
    transform: scale(1.05);
}