@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', 'open sans';
}

body{
    background-color: #191D2B;
}

#inicio,
#proyectos-personales,
#habilidades,
#sobremi {
    padding-top: 10vh;
}

/* Estilos header */
header{
    background-color: #191D2B;
    color: #27AE60;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    padding-top: 5px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

span{
    color: white;
}

li{
    display: inline-block;
    padding: 0 20px;
}

a{
    color: white;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    transition:  0.5s ease;
}

a:hover{
    transform: ease;
    color: #27AE60;
}

/* Estilos section hero */
.hero{
    height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #191D2B;
    color: white;
}

.hero h1{
    font-size: 50px;
    padding-bottom: 15px;
}

.hero p{
    font-size: larger;
    padding-bottom: 20px;
}

button{
    background-color: transparent;
    border: solid 2px #27AE60;
    border-radius: 15px;
    color: #27AE60;
    font-weight: bold;
    height: 35px;
    width: 120px;
    margin-right: 15px;
    transition: 0.5s ease;
}

button:hover{
    transform: ease;
    background-color: #27AE60;
    color: white;
}

.hero img{
    width: 100%;
    max-width: 400px;
    border-radius: 500px;
    transition: all 1.5s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: aparecer1 2s ease-out forwards;
}

.info-hero h1{
    opacity: 0;
    animation: aparecer2 2s ease-out forwards;
}
.info-hero p{
    opacity: 0;
    animation: aparecer2 2.5s ease-out forwards;
}

.info-hero button{
    cursor: pointer;
    opacity: 0;
    animation: aparecer2 2.8s ease-out forwards;
}


@keyframes aparecer1 {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes aparecer2 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero img:hover{
    box-shadow: 0 4px 15px rgba(39, 174, 96, 1)
}

/* Estilos section proyectos personales */
.proyectos{
    margin: 0;
    background-color: #191D2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

hr{
    width: 90%;
    max-width: 1000px;
    border-color: #27AE60;
    margin-bottom: 30px;
}

.proyectos h2{
    font-size: 50px;
    padding-bottom: 15px;
    text-align: center;
    color: #27AE60;
    margin-bottom: 15px;
}

.proyectos-personales{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tarjeta-proyecto{
    text-align: center;
    align-items: center;
    color: #ccc;
    background: #212121 ;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 350px;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-height: 530px;
    transition: transform 0.3s ease;
}

.tarjeta-proyecto:hover{
    transform: scale(1.02);
}

.tarjeta-proyecto p{
    padding-top: 3px;
    text-align: center;
}

.tarjeta-proyecto h3{
    margin-top: 25px;
    margin-bottom: 15px;
    color: #27AE60;
}

.tarjeta-proyecto img{
    width: 350px;
    border-radius: 5px;
}

.tarjeta-proyecto button{
    background-color: transparent;
    border: solid 2px #27AE60;
    border-radius: 10px;
    color: #27AE60;
    font-weight: bold;
    height: 35px;
    width: 120px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.tarjeta-proyecto button:hover{
    transform: scale(1.01);
    background-color: #27AE60;
    color: white;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}

/*Estilos de section de skills*/
.habilidades{
    min-height: 60vh;
}

.habilidades h2{
    font-size: 50px;
    padding-bottom: 15px;
    text-align: center;
    color: #27AE60;
}

.cajas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    background-color: #191D2B;
    color: white;
}
  
.habilidad-caja {
    background-color: #212121;
    border-radius: 10px;
    padding: 20px 25px;
    min-width: 220px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}
  
.habilidad-caja:hover {
    transform: translateY(-5px);
}
  
.habilidad-caja h3 {
    font-size: 1.2rem;
    color: #27AE60;
    margin-bottom: 15px;
    text-align: center;
}
  
.habilidad-caja ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.habilidad-caja li {
    font-size: 0.95rem;
    margin-bottom: 8px;
    color: #ccc;
}

.habilidad-caja li img{
    max-width: 40px;
}

.habilidad-caja li:hover{
    color: #27AE60;
}

/*Estilos de la section Sobre mi*/

.sobre-mi{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    min-height: 90vh;
    text-align: center;
}

.sobre-mi strong{
    color: #27AE60;
}

.sobre-mi h2{
    font-size: 50px;
    padding-bottom: 15px;
    color: #27AE60;
}

.sobre-mi p{
    font-size: large;
    text-align: center;
    line-height: 1.8;
    margin: 10px;
}

.sobre-mi .gif{
    padding: 20px ;
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.sobre-mi img{
    margin: 10px;
    border-radius: 10px;
}

/*Estilos de formulario de contacto*/

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.contacto h2{
    font-size: 50px;
    padding-bottom: 25px;
    text-align: center;
    color: #27AE60;
}

.formulario-contacto {
    background-color: #212121;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    width: 350px;
    padding: 20px;
    height: 500px;
}

.formulario-contacto form {
    display: flex;
    flex-direction: column;
}

.formulario-contacto h3 {
    padding-top: 15px;
    text-align: center;
    margin-bottom: 20px;
    color: #27AE60;
}

.formulario-contacto label {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.formulario-contacto input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
  background-color: #121212;
  color: white;
}

.formulario-contacto .mensaje{
    height: 150px;
}

.formulario-contacto button{
    cursor: pointer;
}

.formulario-contacto .boton-form-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}